<div class="tp-product-list-item d-md-flex">
  <div class="tp-product-list-thumb p-relative fix">
    <a [routerLink]="['/shop/shop-details', product.productId]" style="height: 310px; background-color: #f2f3f5;">
      <img [src]="product.productImageUrl[0]?.img" alt="product-img" *ngIf="product.productImageUrl && product.productImageUrl.length > 0">
    </a>

    <!-- Product action -->
    <div class="tp-product-action-2 tp-product-action-blackStyle">
      <div class="tp-product-action-item-2 d-flex flex-column">
        <button type="button" class="tp-product-action-btn-2 tp-product-quick-view-btn" data-bs-toggle="modal" data-bs-target="#producQuickViewModal">
          <svg width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <!-- SVG paths remain unchanged -->
          </svg>
          <span class="tp-product-tooltip tp-product-tooltip-right">Quick View</span>
        </button>
        <!-- <button (click)="addToWishlist(product)" type="button" class="tp-product-action-btn-2 tp-product-add-to-wishlist-btn">
          <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            
          </svg>
          <span class="tp-product-tooltip tp-product-tooltip-right">Add To Wishlist</span>
        </button> -->
        <button (click)="addToCompare(product)" type="button" class="tp-product-action-btn-2 tp-product-add-to-compare-btn">
          <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <!-- SVG paths remain unchanged -->
          </svg>
          <span class="tp-product-tooltip tp-product-tooltip-right">Add To Compare</span>
        </button>
      </div>
    </div>
  </div>
  <div class="tp-product-list-content">
    <div class="tp-product-content-2 pt-15">
      <div class="tp-product-tag-2">
        <a [routerLink]="['/shop/shop-details', product.productId]">{{ product.categoryName }}</a>
      </div>
      <h3 class="tp-product-title-2">
        <a [routerLink]="['/shop/shop-details', product.productId]">{{product.productName}}</a>
      </h3>
      <div class="tp-product-rating-icon tp-product-rating-icon-2">
        <span><i class="fa-solid fa-star"></i></span>
        <span><i class="fa-solid fa-star"></i></span>
        <span><i class="fa-solid fa-star"></i></span>
        <span><i class="fa-solid fa-star"></i></span>
        <span><i class="fa-solid fa-star"></i></span>
      </div>
      <div class="tp-product-price-wrapper-2">
        <ng-container *ngIf="product.discountPercentage !== undefined && product.discountPercentage !== null && product.discountPercentage > 0; else noDiscount">
          <span class="tp-product-price-2 old-price">Nrs.{{ (product.productUnitPrice ?? 0).toFixed(2) }}</span>
          <span class="tp-product-price-2 new-price">
            Nrs.{{ (product.productUnitPrice ? (product.productUnitPrice - (product.productUnitPrice * product.discountPercentage / 100)) : 0).toFixed(2) }}
          </span>
        </ng-container>
        <ng-template #noDiscount>
          <span class="tp-product-price-2 new-price">Nrs.{{ (product.productUnitPrice ?? 0).toFixed(2) }}</span>
        </ng-template>
      </div>
      <p>{{ product.productDescription.slice(0, 100) }}...</p>
      <!-- <div class="tp-product-list-add-to-cart">
        <button *ngIf="!isItemInCart(product)" (click)="addToCart(product)" class="tp-product-list-add-to-cart-btn">Add To Cart</button>
        <a *ngIf="isItemInCart(product)" routerLink="/shop/cart" class="tp-product-list-add-to-cart-btn" [class.active]="isItemInCart(product)">View Cart</a>
      </div> -->
    </div>
  </div>
</div>
